body{
  background-color: #242424;
  color: white;
  display: flex;
  flex-direction: column;
}

.hook_title{
  color: white;
}

.search_bar{
  width: 90%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #202020;
  border: 2px solid #202020;
  border-radius: 1rem;
  padding: 1rem;

  input{
    background-color: white;
    width: 90%;
    height:40px;
    border-color: #595959;
    border-width: 2px;
    border-radius: 1rem;
    margin: .5rem;
  }

}

.searchSuggestions{
  list-style-type: none;
  width: 90%;
  padding-inline-start: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-align: left;

  .searchSuggestionItem{
    width: 100%;
    border-color: #595959;
    border-width: 2px;
  }
  
}

.darkBG {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100%;
  background-size: cover;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.modal {
  width: 25%;
  height: 50%;
  background: gray;
  color: white;
  z-index: 10;
  border-radius: 16px;
  position: absolute;
  top: 25%;
  left: 37.5%;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.guessHistory{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 10px;
}

.guess{
  display: flex;
  flex-direction: column;
  justify-content: sp;
  align-items: center;
  border: 2px solid gray;
  border-radius: 0.3rem;
  padding: 0.5rem;
  height: 75px;
  width: 75px;

  h3{
    margin: 2px;
  }
  
  p{
    font-size: 1.5rem;
    margin: 0;
  }

  .guessList{
    font-size: 1rem; 
  }

  .damageList{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    padding-inline-start: 0px;
  }

  
}

.highlow{
  color: transparent;  
  text-shadow: 0 0 0 red;
}


.guessHistoryList{
  list-style-type: none;
  flex-direction: row;
  justify-content: center;
  width: 100;
  padding: 10px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.loader {
  width: 40px;
  height: 40px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1.5s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 
